@charset "utf-8";
/* CSS Document */

* {
	margin:0;
	padding:0;
	text-decoration:none;
}

html,body {
	height:100%;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	background-color:#E0E0E0;
}

figure {
margin: 0;
padding: 0;
}

/*header*/
.head {
	background: #999;
	background-image: -webkit-linear-gradient(top, #999, #666);
	background-image: -moz-linear-gradient(top, #999, #666);
	background-image: -ms-linear-gradient(top, #999, #666);
	background-image: -o-linear-gradient(top, #999, #666);
	background-image: linear-gradient(to bottom, #999, #666);
	height:100px;
	border-bottom:5px solid #999;
}
.container {
	width:1000px;
	padding-left:15px;
	padding-right:15px;
	margin:auto;
}
.container img {
	float:left;
}

div[name=logoname] {
	width:400px;
	padding-top:33px;
    float:left;
    text-align:left;
	color:#000;
}

div[name=logoname] h1 {
	color:#CCC;
	text-transform: uppercase;
	margin-bottom: 0;
	text-shadow: -1px -1px white, 1px 1px #333;
}




/*menu dropdown*/
div[name=menu] {
	padding-top:60px;
    float:left;
    text-align:left;
	
}
div[name=menu] > ul > li.active {
	background: #999;
	color:#333;
	font: 18px;
	font-weight:bold;
	text-shadow: 0.1em 0.1em 0.2em;
	border-radius:5px;


}

ul[id^="thaicss-nav"]:after {
	content: " ";
	display: block;
	clear: both;
	
}
ul[id$="horizontal"]>li {
	float: left;
	width: 80px;
	position: relative;
	padding-left: 3px;
	padding-right: 3px;
	padding-bottom: 3px;
	padding-top:3px;
	font-size:16px;
	list-style:none;
	z-index: 20;
	
	
}

ul[id|="thaicss-nav"]>li>a, ul[id|="thaicss-nav"]>li:hover>ul>li>a {
	display: block;	
	line-height: 25px;
	
}
ul[id|="thaicss-nav"]>li>a {
	text-align: center;
	color: #333;
}
ul[id|="thaicss-nav"]>li:hover>ul>li>a {
	color: #FFF;
	
}
ul[id|="thaicss-nav"]>li:hover>ul>li:hover>ul>li>a {
	color:#CCC;
}
ul[id|="thaicss-nav"]>li:hover>a {
	color: #CCC;
	text-shadow: #CCC 0.1em 0.1em 0.2em;
}

ul[id|="thaicss-nav"]>li>ul, ul[id|="thaicss-nav"]>li:hover>ul>li>ul {
	background: #666;
	
}
ul[id|="thaicss-nav"]>li:hover>ul>li:hover, ul[id|="thaicss-nav"]>li:hover>ul>li:hover>ul>li:hover {
	background: #444;
	
}
ul[id$="horizontal"]>li>ul, ul[id$="horizontal"]>li:hover>ul>li>ul {
	visibility: hidden;
	position: absolute;
	width: 130px;
	padding-top:10px;
	font-size:14px;
	list-style:none;

}
	
ul[id|="thaicss-nav"]>li:hover>ul, ul[id|="thaicss-nav"]>li:hover>ul>li:hover>ul {
	visibility: visible;
}
ul[id|="thaicss-nav"]>li:hover>ul>li, ul[id|="thaicss-nav"]>li:hover>ul>li:hover>ul>li {
	line-height: 25px;
	padding-left: 3px;
	border-bottom: solid 1px #555;
	border-top: solid 1px #999;

}
ul[id$="horizontal"]>li:hover>ul>li:hover>ul {
	left: 130px;
	margin-top: -36px;
	font-size:14px;
	list-style:inside;
	
}



/*content home*/

figure.figure {
	float:left;
	width: 28%;
	border: thin silver solid;
	background: #FFF;
	-webkit-box-shadow: 0px 0px 8px rgba(0,0,0,0.3);
	-moz-box-shadow:    0px 0px 8px rgba(0,0,0,0.3);
	box-shadow:         0px 0px 8px rgba(0,0,0,0.3);
	border-radius:10px;
	margin-top:40px;
	margin-left:30px;
	padding: 0.5em;
}

figure.figure p {
	text-align: center;
	font-style: italic;
	font-size:medium;
	text-indent: 0;
	z-index:5;
	position:relative;
}
figure.figure p.detail {
	font-size:14px;
}

img.scaled {
  width: 100%;
  height:160px;
  border-radius:10px;
}
a.home:link,a.home:visited {
	color:#ca9173;
}



/*subject*/
p.youarehere {
	text-transform: uppercase;
	width:600px;
	margin-top:10px;
	margin-left:90px;
	color:#333;
	font-size:13px;
	font-style:italic;
}
p.youarehere a {
	color:#333;
}
p.youarehere a:hover {
	color:#666;
}

.wrapper {
  margin: 30px auto;
  width: 500px;
  height:auto;
  background: white;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 8px rgba(0,0,0,0.3);
  -moz-box-shadow:    0px 0px 8px rgba(0,0,0,0.3);
  box-shadow:         0px 0px 8px rgba(0,0,0,0.3);
  position:relative;
  z-index: 5;
}

.wrapperbig {
  margin: 30px auto;
  width: 650px;
  height:auto;
  background: white;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 8px rgba(0,0,0,0.3);
  -moz-box-shadow:    0px 0px 8px rgba(0,0,0,0.3);
  box-shadow:         0px 0px 8px rgba(0,0,0,0.3);
  position:relative;
  z-index: 5;
}

/* The ribbons */

.ribbon-wrapper-green {
	width: 130px;
	height: 135px;
	overflow: hidden;
	position: absolute;
	top: -3px;
	right: -3px;
}
.ribbon-green {
  font: bold 15px Sans-Serif;
  text-align: center;
  text-shadow: rgba(255,255,255,0.5) 0px 1px 0px;
  -webkit-transform: rotate(45deg);
  -moz-transform:    rotate(45deg);
  -ms-transform:     rotate(45deg);
  -o-transform:      rotate(45deg);
  position: relative;
  padding: 9px 0;
  left: -10px;
  top: 32px;
  width: 180px;
  	background: #EED5B7;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#EED5B7), to(#CDB79E));
	background-image: -webkit-linear-gradient(top, #EED5B7, #CDB79E);
	background-image: -moz-linear-gradient(top, #EED5B7, #CDB79E);
	background-image: -ms-linear-gradient(top, #EED5B7, #CDB79E);
	background-image: -o-linear-gradient(top, #EED5B7, #CDB79E);
	background-image: linear-gradient(to bottom, #EED5B7, #CDB79E); 
	color: #8B7D6B;
	-webkit-box-shadow: 0px 0px 3px rgba(0,0,0,0.3);
	-moz-box-shadow:    0px 0px 3px rgba(0,0,0,0.3);
	box-shadow:         0px 0px 3px rgba(0,0,0,0.3);
}

p.textribbon {
	width:400px;
	font-size:14px;
	padding-top:35px;
	padding-left:30px;
	padding-bottom:25px;
	z-index:5;
	position:relative;
}
p.textribbonbig {
	width:500px;
	font-size:14px;
	padding-top:35px;
	padding-left:30px;
	padding-bottom:25px;
	z-index:5;
	position:relative;
}
strong.big {
	font-size:16px;
}


/*table*/
.btneducation {
	width: 120px;
	height: 40px;
	background: #ca9173;
	color: #fff;
	font-size: 16px;
	text-transform: uppercase;
	border-radius:5px;
	border:0;
	transition:all .5s ease 0s;
	-webkit-transition:all .5s ease 0s;
	-moz-transition:all .5s ease 0s;
	-o-transition:all .5s ease 0s;
	-ms-transition:all .5s ease 0s;
}
.btneducation:hover{
	background: #a47963;
}
table.education {
	margin-left:80px;
	padding-bottom:20px;
	padding-top:50px;
}
td.fonts {
	font: bold 15px Sans-Serif;
	text-align: center;
	color:#333;
}
table.vocab {
	margin-left:80px;
}
.tensetb {
	margin-top:50px;
	margin-left:80px;
}
.borderbottom {
	border-bottom-color:#ca9173;
	border-bottom-style:double;
	border-bottom-width:3px;
}

/*vocab*/
.vocabbg {
	background-color:#FFF;
	border-radius:10px;
	width:600px;
	margin:-72px auto;
	margin-bottom:30px;
	padding-left:20px;
	padding-top:20px;
	padding-bottom:20px;
	box-shadow:0px 0px 8px rgba(0,0,0,0.3);
}
.vocabbg button{
	width: 120px;
	height: 40px;
	background: #ca9173;
	color: #fff;
	font-size: 16px;
	text-transform: uppercase;
	border-radius:5px;
	border:0;
	transition:all .5s ease 0s;
	-webkit-transition:all .5s ease 0s;
	-moz-transition:all .5s ease 0s;
	-o-transition:all .5s ease 0s;
	-ms-transition:all .5s ease 0s;
}
.vocabbg button:hover{
	background: #a47963;
}

.tensebg {
	background-color:#FFF;
	border-radius:10px;
	width:600px;
	margin:-72px auto;
	margin-bottom:30px;
	padding-left:20px;
	padding-top:60px;
	padding-bottom:20px;
	box-shadow:0px 0px 8px rgba(0,0,0,0.3);
}

.tensebg button {
	margin-left:400px;
	width: 150px;
	height: 40px;
	background: #ca9173;
	color: #fff;
	font-size: 16px;
	text-transform:capitalize;
	border-radius:5px;
	border:0;
	transition:all .5s ease 0s;
	-webkit-transition:all .5s ease 0s;
	-moz-transition:all .5s ease 0s;
	-o-transition:all .5s ease 0s;
	-ms-transition:all .5s ease 0s;
}

/*exam*/
.exam {
	background-color:#FFF;
	border-radius:10px;
	width:800px;
	margin:-72px auto;
	margin-bottom:30px;
	padding-left:20px;
	padding-top:60px;
	padding-bottom:20px;
	box-shadow:0px 0px 8px rgba(0,0,0,0.3);
}
.exam button {
	margin-left:300px;
	width: 180px;
	height: 60px;
	background: #ca9173;
	color: #fff;
	font-size: 16px;
	text-transform: uppercase;
	border-radius:5px;
	border:0;
	transition:all .5s ease 0s;
	-webkit-transition:all .5s ease 0s;
	-moz-transition:all .5s ease 0s;
	-o-transition:all .5s ease 0s;
	-ms-transition:all .5s ease 0s;
}
.exam button:hover{
	background: #a47963;
}


/*contact*/
.imgcontact img {
	margin:auto auto;
	display:block;
	position:relative;
	z-index: 5;
}
.contactbg {
	background-color:#FFF;
	border-radius:10px;
	width:700px;
	margin:30px auto;
	margin-top:-23px;
	box-shadow:0px 0px 8px rgba(0,0,0,0.3);
}
a.con:link,a.con:visited {
	color:#78a2bb;
}


/*index*/
.index img {
	margin: auto auto;
	display: block;
}
.buttonindex {
	width:350px;
	padding-left:150px;
	margin-top:-200px;
	margin-left:auto;
	margin-right:auto;
}
.buttonindex button{
	width: 250px;
	height: 60px;
	background: #3a9ecb;
	color: #fff;
	font-size: 30px;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	text-transform: uppercase;
	border:0;
	border-radius:5px;
	transition:all .5s ease 0s;
	-webkit-transition:all .5s ease 0s;
	-moz-transition:all .5s ease 0s;
	-o-transition:all .5s ease 0s;
	-ms-transition:all .5s ease 0s;
	box-shadow:0px 0px 8px rgba(0,0,0,0.3);
}
.index button:hover{
	background: #2a2a2a;
}




/*footer copyright*/

.footer {
	width:100%;
	height:50px;
	position:relative;
}

div[name=footer] {
	width:100%;
	background: #666;
	color:#fff;
	font-size:14px;
	position:absolute;
	left:0;
	height:50px;
	border-top:5px solid #999;
}

a:link,a:visited {
	color:#CCC;
}
a:hover {
	color:#FFF;
	text-shadow: 0.1em 0.1em 0.2em;
}


.clear {
	clear:both;
}